# Light Requirements

## ML Frameworks
# tensorflow & pytorch are installed via conda
keras
xgboost
scikit-learn
statsmodels
mxnet-mkl

## NLP
spacy
nltk
fasttext
beautifulsoup4
soupsieve

# Images
opencv-python-headless
opencv-python
scikit-image

## Others
pymongo
fire
patsy
pandas-profiling
tensorboardX
boto3
