# Minimum Requirements

## Utilities
httpie
cloudpickle
msgpack
msgpack-numpy
cysignals
h5py
seaborn
SQLAlchemy
virtualenv
pytest
autopep8
flake8
black
pylint
pycodestyle
pydocstyle
sortedcontainers
simplejson
mock
python-dateutil

# ML libraries
tensorboard

## Glances
psutil
bottle
netifaces
py-cpuinfo
glances
pymdstat

## Jupyter
jupytext
nbresuse
ipympl
jupyterhub
remote_ikernel
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
# jupyter-tensorboard
git+https://github.com/cloudrainstar/jupyter_tensorboard.git # Use other version with support for tensorflow 2.X
nbdime
